fsspec==2024.6.1
cycler==0.11.0
cycler==0.12.1
unicodedata2==15.1.0
pyteomics==4.7.5
torch-geometric==2.6.1
parso==0.8.4
nest_asyncio==1.6.0
pkgutil_resolve_name==1.3.10
certifi==2022.12.7
torch_sparse==0.6.18+pt24cu118
pycairo==1.25.0
prompt_toolkit==3.0.48
comm==0.2.2
referencing==0.35.1
typing_extensions==4.13.2
numba==0.58.1
executing==2.1.0
promise==2.3
jsonschema==4.23.0
networkx==3.1
nbformat==5.10.4
async-timeout==5.0.1
traitlets==5.14.3
mpmath==1.3.0
aiohappyeyeballs==2.4.4
PySocks==1.7.1
setproctitle==1.3.2
pickydict==0.5.0
GitPython==3.1.31
reportlab==3.5.68
matchms==0.17.0
rpds-py==0.20.1
gitdb==4.0.10
pickleshare==0.7.5
pandas==2.0.3
pandas==2.0.1
future==0.18.3
h2==4.1.0
ptyprocess==0.7.0
tinycss2==1.2.1
aiosignal==1.3.1
peft==0.13.2
jupyter_client==8.6.3
frozenlist==1.5.0
click==8.1.3
wheel==0.38.4
ipython==8.12.2
fonttools==4.53.1
fonttools==4.39.3
selfies==2.1.0
docker-pycreds==0.4.0
Deprecated==1.2.15
triton==3.0.0
setuptools==66.0.0
nvidia-cudnn-cu11==9.1.0.70
hyperframe==6.0.1
plotly==6.4.0
tqdm==4.65.0
contourpy==1.1.1
wandb==0.24.2
MarkupSafe==2.1.2
SQLAlchemy==2.0.32
protobuf==4.22.3
scipy==1.10.1
scipy==1.9.3
propcache==0.2.0
tzdata==2023.3
tzdata==2024.2
fastjsonschema==2.21.2
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cublas-cu11==11.11.3.6
pathtools==0.1.2
llvmlite==0.41.1
llvmlite==0.41.1
ipykernel==6.29.5
pyzmq==26.2.0
pyparsing==3.0.9
pyparsing==3.1.4
torch==2.4.1+cu118
numpy==1.23.0
obonet==1.0.0
seaborn==0.13.2
cloudpickle==2.2.1
threadpoolctl==3.1.0
hpack==4.0.0
nvidia-cufft-cu11==10.9.0.58
platformdirs==4.3.6
lxml==4.9.3
umap-learn==0.5.7
pip==23.0.1
tabulate==0.9.0
hyperopt==0.2.7
python-dateutil==2.9.0
python-dateutil==2.8.2
zstandard==0.23.0
kiwisolver==1.4.4
kiwisolver==1.4.5
psutil==5.9.5
psutil==6.0.0
antlr4-python3-runtime==4.9.3
aiohttp==3.10.11
huggingface-hub==0.36.0
pytz==2024.2
pytz==2023.3
greenlet==3.0.3
pynndescent==0.5.13
Jinja2==3.1.2
dgllife==0.3.0
idna==3.4
safetensors==0.5.3
Pillow==9.5.0
Pillow==9.4.0
charset-normalizer==3.1.0
jedi==0.19.1
h5py==3.11.0
packaging==23.1
packaging==25.0
cairocffi==1.5.1
nvidia-cusolver-cu11==11.4.1.48
CairoSVG==2.5.2
matplotlib==3.5.3
matplotlib==3.7.5
Pygments==2.18.0
jsonschema-specifications==2023.12.1
pooch==1.8.2
wrapt==1.16.0
Cython==0.29.32
decorator==5.1.1
nvidia-nccl-cu11==2.20.5
nvidia-cusparse-cu11==11.7.5.86
py4j==0.10.9.7
eval_type_backport==0.3.1
pydantic_core==2.27.2
scikit-learn==0.24.2
jupyter_core==5.8.1
wcwidth==0.2.13
multidict==6.1.0
webencodings==0.5.1
Wand==0.7.0
nvidia-curand-cu11==10.3.0.86
zipp==3.21.0
urllib3==1.26.15
tokenizers==0.20.3
sympy==1.13.3
requests==2.29.0
cffi==1.15.1
asttokens==3.0.0
backcall==0.2.0
rdkit-pypi==2021.3.3
pyarrow==17.0.0
filelock==3.16.1
defusedxml==0.7.1
matplotlib-inline==0.1.7
six==1.16.0
nvidia-cuda-runtime-cu11==11.8.89
shortuuid==1.0.11
munkres==1.1.4
joblib==1.2.0
narwhals==1.42.1
pycparser==2.21
regex==2024.11.6
torch_scatter==2.1.2+pt24cu118
stack-data==0.6.2
debugpy==1.8.5
annotated-types==0.7.0
olefile==0.47
attrs==25.3.0
transformers==4.46.3
yarl==1.15.2
nvidia-nvtx-cu11==11.8.86
PyYAML==6.0
hf-xet==1.1.10
smmap==5.0.0
gmpy2==2.1.5
pure_eval==0.2.3
pexpect==4.9.0
dgl-cu113==0.9.0
tornado==6.4.1
importlib_resources==6.4.5
importlib_metadata==8.5.0
nvidia-cuda-cupti-cu11==11.8.87
cssselect2==0.7.0
accelerate==1.0.1
Brotli==1.1.0
pydantic==2.10.6
omegaconf==2.2.3
sentry-sdk==2.57.0
lightgbm==4.6.0
